<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>net.i2p.seedless.console.SeedlessSeedFinderContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>net.i2p.seedless.console.index</servlet-name>
        <servlet-class>net.i2p.seedless.console.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceBrowser</servlet-name>
        <servlet-class>net.i2p.seedless.console.ServiceBrowser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CacheBrowser</servlet-name>
        <servlet-class>net.i2p.seedless.console.CacheBrowser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service</servlet-name>
        <servlet-class>net.i2p.seedless.console.Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eepsites</servlet-name>
        <servlet-class>net.i2p.seedless.console.Eeepsites</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>net.i2p.seedless.console.index</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>net.i2p.seedless.console.index</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>net.i2p.seedless.console.index</servlet-name>
        <url-pattern>/index.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>net.i2p.seedless.console.index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceBrowser</servlet-name>
        <url-pattern>/ServiceBrowser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CacheBrowser</servlet-name>
        <url-pattern>/CacheBrowser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service</servlet-name>
        <url-pattern>/Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eepsites</servlet-name>
        <url-pattern>/Eepsites</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
